html{
	
}


/* Header */

header {
	margin-top: 10px;
	margin-bottom: 5px;
}
header * {
	display: inline-block;
}

header h1 {
	width: 900px;
}

img#logo {
}

img#banniere{
	/*display: block;*/
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

/* Corps */

body{
	width:1000px;
	height:600px;
	margin:auto;
	background-image : url("objets.jpg");
	background-repeat:no-repeat;

}

/* Menu horizontal */
nav
{	
    border: 2px solid black;
    background-color: #4682b4;
    width:1000px;
}

nav ul{
	margin-left:auto;
	margin-right:auto;
	width:500px;
}

nav ul li
{
	list-style-type : none;
	display: inline-block;
	color:#4B088A;
	margin-left:20px;
	
}

/* Liens */
nav a{
	color: white;
	text-decoration:none;
    font-style:italic;
}

nav a:hover {
	background-color: #AC58FA;
	color: white;
}


/* Section */
section{
    color: #000000;
    font-size: 12pt;  
    vertical-align: top;
    border: 2px solid black;
    padding:20px;
    margin:20px 0px;
    width:800px;
    margin-left: auto;
    margin-right: auto;
}


/* Liste sans puces */
ul.padpoint {
	list-style-type: none;
}



h2{
	color: #4169e1;
}

/* Liste pour l'équipe */
section ul li {
	margin-bottom: 50px;
}

 section li img {
	float: left;
	margin-right:30px;
 }


/* Pied de page */
footer{
	font-size:10pt;
	text-align:center;
}

fieldset{
	width:500px;
	margin:50px;
}

