/** SPECIFIQUE **/
/* Titres colorés  */
#banniere > h2 {color:#a00e1d;}
#corps > aside > h2 {color:rgb(137, 61, 12)}
#corps > article > h2 {color:rgb(124,13,68)}


/** GENERAL **/


/* Corps */
 
body{ font-family: "Trebuchet MS",verdana, sans-serif; margin:auto; max-width:900px; min-width: 400px; padding: 0px 5px; }



/* Header */
header { margin-bottom: 5px; margin-top: 10px; width: 100%;}
	
header h1 { background-image : url("objets-noir.jpg"); box-shadow: 5px 5px 5px #bbbbbb; color: white; width: 100%; }


/* Menu horizontal */
nav { width: 100%; margin-bottom: 20px;}

nav ul{ border-bottom: 20px; border-image:url("fil.png") 231 5 ; border-top: 0px; display: inline-block; margin-left:auto; margin-right:auto; padding: 0px; width: 80% }

nav ul li { display: inherit; list-style-type : none; margin-left: 5px; margin-right: 5px; }

nav img { vertical-align: bottom;}

.actuel {background-color: #eeeeee ; box-shadow: 3px 3px 3px #666666;  }


/* Liens */
nav a {color: DarkSlateBlue; font-style:italic; padding: 5px; text-decoration:none; }

nav ul a:hover { background-color: #700b7d; color: white; box-shadow: 3px 3px 3px #666666; }


/* Bannière */ 

#banniere{ background-color:rgb(232, 232, 232); box-shadow: 3px 3px 3px #666666; margin-bottom: 10px; padding:1px 2% 6px 2%; outline: 1px solid black;}

#banniere h1{ font-size: 1.2em; }



/* Article */

article { background-color:rgb(232, 232, 232); box-shadow: 3px 3px 3px #666666; display: inline-block; margin-bottom: 10px;  margin-right:2%; outline: 1px solid black; padding:0px 2% 0px 2% ; text-align:justify; width:90%; }

	/*Pour les articles qui doivent cohabiter avec un menu latéral (le div nommé corps)*/
	#corps > article {  width: 67%; }

article img { border-radius: 200px 200px; float: left; margin-right: 15px; margin:10px;}

article > section { background-color:#dbe6f0; min-height: 320px;}

article > section > p {text-align:justify;}



/* News */

aside {  background-color:rgb(232, 232, 232); box-shadow: 3px 3px 3px #666666; display: inline-block; float:right; margin-bottom:15px; outline: 1px solid black; padding:0px 2% 0px 2% ; vertical-align: top; width: 22%;}

aside > section > p { margin : 1px 1px 20px 2px;}

aside > section > h3 {font-size:0.83em; margin:0px;}

/* Pied de page */
footer{ font-size:10pt; text-align:center; }



/* Formulaires */

fieldset {background-color:rgb(232, 232, 232); box-shadow: 3px 3px 3px #666666; margin-bottom: 10px; padding:1px 2% 6px 2%;}



/** Responsive **/ 
@media screen and (max-width: 700px) {
	
	nav ul { width: 70%;} /*min-width:200px; width:70%*/
	nav ul li { background-color: #FDE5E5; border-bottom: 1px solid black;border-right: 1px solid darkgrey; display: block; margin-left: 0px; margin-right: 0px; margin-bottom:8px; text-align:center; width:100%; }
	nav a { padding: 2px; }
	#corps > article { width: 96%; margin-right:0px;}  /* Parce que le padding intérieur est à 4% (100-2-2 = 96) */
	aside { width: 96%;}
}
