/** Général **/

/* Corps */
 
body{ font-family: verdana, sans-serif; margin:auto; max-width:900px; min-width: 400px; padding: 0px 5px; }


/** Spécifique **/

/* Header */
header { margin-bottom: 5px; margin-top: 10px; width: 100%;}
	
header h1 { background-image : url("objets-noir.jpg"); box-shadow: 5px 5px 5px #bbbbbb; color: white; width: 100%; }

/* Menu horizontal */
nav { width: 100%; margin-bottom: 20px;}

nav ul{ border-bottom: 20px; border-image:url("fil.png") 231 5 ; border-top: 0px; display: inline-block; margin-left:auto; margin-right:auto; padding: 0px; width: 80% }

nav ul li { display: inherit; list-style-type : none; margin-left: 5px; margin-right: 5px; }

nav img { vertical-align: bottom;}

.actuel {background-color: #eeeeee ; box-shadow: 3px 3px 3px #666666;  }

/* Liens */
nav a {color: DarkSlateBlue; font-style:italic; padding: 5px; text-decoration:none; }

nav a:hover { background-color: #AC58FA; color: white; box-shadow: 3px 3px 3px #666666; }

/* Bannière */ 

#banniere{ border: 2px solid black; margin-bottom: 10px;}

#banniere h1{ font-size: 1.2em; }



/* Article */

article { border: 2px solid black; display: inline-block; margin-bottom: 10px; padding: 5px; width: 70%;}

article img { border-radius: 200px 200px; float: left; margin-right: 5px;}

/* News */

aside { border: 2px solid black; display: inline-block; vertical-align: top; width: 25%; }

/* Pied de page */
footer{ font-size:10pt; text-align:center; }

/** Responsive **/ 
@media screen and (max-width: 700px) {
	
	nav ul { width: 40%;}
	nav ul li { display: block; margin-left: 0px; margin-right: 0px; margin-bottom:4px; }
	nav a { padding: 2px; }
	article { width: 100%;}
	aside { width: 100%;}
}
